<div class="container">

  <h1>Intro to TypeScript</h1>
  <br><br><br><br><br><br>
  <h3>Steve Witman</h3>
  <br><br><br>
  <h5>stevewitman.com</h5>
  <br><br><br>
  <h5>Slack - angularcolorado.com</h5>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <h1>What is TypeScript?</h1>
  <ul>
    <li>A superset of JavaScript </li>
    <li>TypeScript transpiles to JavaScript </li>
    <li>Adds optional static typing to JavaScript</li>
    <li>Adds class-based object-oriented programming to JS</li>
    <li>Client-side or server-side development</li>
    <li>Designed for development of large applications</li>
    <li>Developed and maintained by Microsoft</li>
    <li>Free and open-sourced</li>
    <li>Google added as an approved language</li>
      <p>C/C++, Java, JavaScript*, Python, Go,<br><i>TypeScript & Kotlin</i></p>
  </ul>

<br><br><br><br><br><br><br><br>

  <div class="row">
    <div class="col-xs-7">
      <p>Closure JavaScript</p>

    </div>
    <div class="col-xs-5">
  
      
    </div>
  </div>
  <img class="slack-logo" src="assets/pretypescript.png">  

<br><br><br><br><br><br><br><br><br><br>  <div class="row">
    <div class="col-xs-7">
      <p>Closure JavaScript</p>

    </div>
    <div class="col-xs-5">
  <p>TypeScript</p>
      
    </div>
  </div>
  <img class="slack-logo" src="assets/closure.png">  

<br><br><br><br><br><br><br><br><br><br>

  <h1>TS is a Superset of JS</h1>
  <img class="slack-logo" src="assets/superset.png">

<br><br><br><br><br><br><br><br><br><br>

  <h1>Features of TypeScript</h1>
  <ul>
    <li>TypeScript</li>
      <p>Type Annotations (optional), Interfaces, Generics</p>
    <li>ES2016</li>
      <p>Decorators, Async await</p>
    <li>ES2015</li>
      <p>Default Parameters, Block Scoping, Arrow Functions, Promises, Template Literals, Multi-Line Strings, Destructuring, Modules, Classes</p>
    <li>ES5</li>
  </ul>

<br><br><br><br><br><br>

<h1>IDE and editor support</h1>
  <ul>
    <li>Visual Studio</li>
    <li>Visual Studio Code</li>
    <li>Atom</li>
    <li>Sublime</li>
    <li>Emacs</li>
    <li>Vim</li>
    <li>Eclipse</li>
    <li>(others)</li>
  </ul>

<br><br><br><br><br><br><br><br><br>

  <h1>Why use TypeScript?</h1>

  <ul>
    <li>Use future JavaScript features today</li>
    <li>Easier to organize code base in large/complicated apps</li>
    <li>Detect errors at dev time</li>
    <li>Intellisense</li>
    <li>Enhanced tooling - Language Services</li>
    <li>Recommended by Angular</li>
    <li>Majority of Angular documentation uses TypeScript</li>
    <li>If you already use staticly-typed languages, it is easier to pick up</li>
    <li>Learning statically-typed skills will be transferable skills</li>
    <li>Lets you use things that ECMA Script may not add</li>
  </ul>

<br><br><br>

 <h1>How Does TS Work?</h1>
  <br><br><br>
  <img class="slack-logo" src="assets/compiler.png">

<br><br><br><br><br><br><br><br><br><br>

  <h1>Installation</h1>

  <div class="code">npm install -g typescript</div>
  <div class="code">tsc -v</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <h1>Transpilation</h1>

  <div class="code">tsc main.ts</div>
  <div class="code">tsc *.ts</div>
  <div class="code">tsc main.ts --watch</div>

<br><br><br><br><br><br><br><br><br><br>

 

  <h1>tsconfig.json</h1>
  <br>
  <img class="slack-logo" src="assets/config.png">

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <h1>Types</h1>
  <ul>
    <li>boolean</li>
    <li>null</li>
    <li>undefined</li>
    <li>number</li>
    <li>string</li>
    <li>array</li>
    <li>symbol (ES6)</li>
    <li>enum</li>
    <li>class</li>
    <li>interface</li>
  </ul>

<br><br><br><br><br><br><br><br><br><br><br>

<h1>TypeScript Playground</h1>

<br><br><br><br><br><br>
<h3>https://www.typescriptlang.org</h3>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <h1>Classes</h1>
  <br>
  <img class="slack-logo" src="assets/classes.png">

<br><br><br><br><br><br><br><br><br><br>

  <h1>Inheritance</h1>
  <br>
  <img class="slack-logo" src="assets/inheritance.png">

<br><br><br><br><br><br><br><br><br><br>

  <h1>Public, Private, Protected</h1>
  <br>
  <img class="slack-logo" src="assets/public.png">
  <br><br><br>
  <img class="slack-logo" src="assets/private.png">
  <!--<br><br><br><br><br><br><br><br><br><br><br><br>
  <img class="slack-logo" src="assets/publicprivate.png">-->


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <h1>Thank You!</h1>
  <br><br><br><br><br><br>  
  <h5>stevewitman@gmail.com</h5>
  <br><br><br>
  <h5>Slides - github/stevewitman/intro-to-typescript</h5>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>



</div>