h1 {
    background-color: #016ED5;
    color: white;
    font-size: 84px;
    padding: 10px 40px 30px 40px;
    text-align: center;
}
h3 {
    font-size: 64px;
    text-align: center;
}
h5 {
    font-size: 40px;
    text-align: center;
}
ul {
    padding-left: 50px;
}
li {
    font-size: 40px;
}

img {
    width: 1100px;
    padding-left: 40px;
}
p {
    padding-left: 30px;
    font-size: 40px;
}
.code {
    font-family: monospace;
    background-color: silver;
    padding: 10px;
    margin: 50px 20px;
    font-size: 40px;
}
.tiny {
    font-family: monospace;
    background-color: silver;
    font-size: 8px;
}